<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>
    <header>
        <div class="logo">NovaCore</div>
        <nav class="navbar">
            <a href="index.html">Inicio</a>
            <a href="galeria.html">Galería</a>
            <a href="presupuesto.html">Presupuesto</a>
            <a href="contacto.html" class="activo">Contacto</a>
        </nav>
    </header>

    <main>
        <h1>Contacto</h1>

        <section>
            <h2>Nuestra ubicación</h2>
            <div id="mapa" style="height: 400px; border: 1px solid #ccc;"></div>
        </section>

        <section>
            <h2>Datos de Contacto</h2>
            <p><strong>Dirección:</strong> Calle Innovación 42, Madrid, España</p>
            <P><strong>Teléfono:</strong> 123 456 789</P>
            <p><strong>Email:</strong> contacto@miempresa.com</p>
        </section>
    </main>

    <footer>
        <div class="redes">
            <img src="img/facebook.png" alt="Facebook" />
            <img src="img/twitter.png"  alt="Twitter" />
            <img src="img/instagram.png" alt="Instagram" />
        </div>
        <p>2025 NovaCore - Dirección: Calle Innovación 42 - <a href="#">Aviso Legal</a></p>
    </footer>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="../js/contacto.js"></script>
</body>
</html>