<!DOCTYPE html>
<html lang ="es">
<head>
    <meta charset="UTF-8"/>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Galería</title>
    <link rel="stylesheet" href="../css/estilos.css"/>
</head>
<body>

    <!--Header-->
    <header>
        <div class="logo">NovaCore</div>
        <nav class="navbar">
            <a href="../index.html">Inicio</a>
            <a href="galeria.html" class="activo">Galería</a>
            <a href="presupuesto.html">Presupuesto</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>
    <main>
        <h1>Galería de Proyectos y Servicios</h1>
        <div id="galeria" class="galeria">
            <a href="../img/imagen1.png" data-lightbox="galeria">
                <img src="../img/imagen1.png" alt="Desarrollo Web"/>
            </a>
            <a href="../img/imagen2.png" data-lightbox="galeria">
                <img src="../img/imagen2.png" alt="Aplicaciones móviles"/>
            </a>
            <a href="../img/imagen3.png" data-lightbox="galeria">
                <img src="../img/imagen3.png" alt="Consultoría UX/UI"/>
            </a>
            <a href="../img/imagen4.png" data-lightbox="galeria">
                <img src="../img/imagen4.png" alt="Hosting web"/>
            </a>
            <a href="../img/imagen5.png" data-lightbox="galeria">
                <img src="../img/imagen5.png" alt="Seguridad web (SSL)"/>
            </a>
            <a href="../img/imagen6.png" data-lightbox="galeria">
                <img src="../img/imagen6.png" alt="Mantenimiento técnico"/>
            </a>
        </div>
        <div id="lightbox" class="lightbox">
            <span class="cerrar">&times;</span>
            <img class="lightbox-img" src="" alt="Imagen ampliada" />
        </div>
    </main>

    <footer>
        <div class="redes">
        <img src="../img/facebook.png" alt="Facebook" />
        <img src="../img/twitter.png" alt="twitter"/>
        <img src="../img/instagram.png" alt="Instagram" />
        </div>
        <p> 2025 NovaCore - Dirección: Calle Innovación 42 - <a href="#">Aviso Legal</a></p>
    </footer>


    <script src="../js/galeria.js"></script>
</body>
</html>